*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: rgb(23, 21, 21);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 170px;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color: aqua;
}

.banner-img{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("images/background.png"), linear-gradient(45deg,rgb(0, 0, 0),black)
}

.title{
    font-size: 55px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(238, 255, 0);
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: rgb(232, 7, 45);
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgb(33, 28, 28);
    color: white;
}

.about-title{
    text-align: center;
    padding-top: 20px;
}
.box{
    width: 230px;
    height: 250px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;

}
.icon{
    width: 70px;
}
.box-btn{
    background-color: aqua;
}

.box-title{
    padding: 10px;
}
.box-dscrpt{
    padding: 5px;
}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}